<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login para la maestría</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./main.css'>
    <title>Login para la maestria </title>
</head>

<body>
    <div class="login-form">
        <h1>Digite sus datos</h1>
        <form action="auth" method="POST">
            <input type="text" name="email" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="contraseña" required>
            <input type="submit">
        </form>
    </div>
</body>

</html>